<section class="w-75 mx-auto rounded shadow bg-main-light p-3">
  <h1 class="text-center">Shop Cart</h1>
  <p class="text-main">
    Total Price : {{ cartDetails.totalCartPrice | currency : "EGP " }}
  </p>
  <div
    class="row w-100 border-bottom py-2"
    *ngFor="let oneProduct of cartDetails.products"
  >
    <div class="col-md-1">
      <img
        class="w-100"
        [src]="oneProduct.product.imageCover"
        [alt]="oneProduct.product.title"
      />
    </div>
    <div class="col-md-11 d-flex justify-content-between align-items-center">
      <div>
        <h3 class="h5">{{ oneProduct.product.title }}</h3>
        <p class="text-main mb-0">price : {{ oneProduct.price }}</p>
        <button
          class="btn p-0 m-0 text-main"
          (click)="removeProduct(oneProduct.product._id)"
        >
          <i class="fa solid fa-trash-can"> </i> Remove
        </button>
      </div>
      <div>
        <button
          (click)="changCount(oneProduct.product._id, oneProduct.count - 1)"
          class="btn border-success btn-sm"
        >
          -
        </button>

        <span> {{ oneProduct.count }} </span>

        <button
          (click)="changCount(oneProduct.product._id, oneProduct.count + 1)"
          class="btn border-success btn-sm"
        >
          +
        </button>
      </div>
    </div>
  </div>
</section>
