<section class="w-75 mx-auto shadow border border-1 rounded-3 p-4 my-4">
  <form
    (ngSubmit)="handleForm()"
    [formGroup]="registerForm"
    action="
  "
  >
    <h2>register : ❤😊</h2>
    <!-- <p>{{ registerForm.get("name")?.getError("minlength") | json }}</p> -->
    <!-- ******** -->
    <!-- <div
        class="alert alert-danger"
        *ngIf="
         ( registerForm.get('name')?.touched ||  registerForm.get('name')?.value.lenght>0) && registerForm.get('name')?.errors
        "
      >
    </div> -->
    <!-- ************* -->
    <!-- name -->
    <div class="form-item">
      <label for="name" for="">name:</label>
      <input
        formControlName="name"
        id="name"
        type="text"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('name')?.touched && registerForm.get('name')?.errors
        "
      >
        <p *ngIf="registerForm.get('name')?.getError('required')">
          name is required
        </p>
        <p *ngIf="registerForm.get('name')?.getError('minlength')">
          min length is 3
        </p>
        <p *ngIf="registerForm.get('name')?.getError('maxlength')">
          max length is 20
        </p>
      </div>
    </div>
    <!-- Email -->
    <div class="form-item">
      <label for="email" for="">email:</label>
      <input
        formControlName="email"
        id="email"
        type="text"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('email')?.touched &&
          registerForm.get('email')?.errors
        "
      >
        <p *ngIf="registerForm.get('email')?.getError('required')">
          email is required
        </p>
        <p *ngIf="registerForm.get('email')?.getError('email')">
          write avalid email
        </p>
      </div>
    </div>
    <!-- Password -->
    <div class="form-item">
      <label for="password" for="">password:</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('password')?.touched &&
          registerForm.get('password')?.errors
        "
      >
        <p *ngIf="registerForm.get('password')?.getError('required')">
          password is required
        </p>
        <p *ngIf="registerForm.get('password')?.getError('pattern')">
          must be at least 6 chars
        </p>
      </div>
    </div>
    <!-- rePassword -->
    <div class="form-item">
      <label for="rePassword" for="">rePassword:</label>
      <input
        formControlName="rePassword"
        id="rePassword"
        type="password"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('rePassword')?.touched &&
          registerForm.get('rePassword')?.errors
        "
      >
        <p *ngIf="registerForm.get('rePassword')?.getError('required')">
          rePassword is required
        </p>
        <p *ngIf="registerForm.get('rePassword')?.getError('pattern')">
          password confirmation is incorrect
        </p>
      </div>
    </div>
    <!-- phone -->
    <div class="form-item">
      <label for="phone" for="">phone:</label>
      <input
        formControlName="phone"
        id="phone"
        type="tell"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('phone')?.touched &&
          registerForm.get('phone')?.errors
        "
      >
        <p *ngIf="registerForm.get('phone')?.getError('required')">
          phone is required
        </p>
        <p *ngIf="registerForm.get('phone')?.getError('pattern')">
          accept only egypt phone numbers
        </p>
      </div>
    </div>
    <button [disabled]="registerForm.invalid" type="submit" class="main-btn">
      Register
    </button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</section>
