<!-- <h1>welcome back {{ name }}</h1> -->
<section>
  <div class="container">
    <div class="row g-4">
      <div
        *ngFor="let product of productsArray"
        class="col-sm-6 col-md-4 col-lg-3"
      >
        <div>
          <img class="w-100" [src]="product.imageCover" alt="" />
          <h4 class="font-sm text-main">{{ product.category.name }}</h4>
          <h3 class="h6">{{ product.title | cuttext }}</h3>
          <div class="d-flex justify-content-between">
            <span>{{ product.price | currency : "EGP" }} </span>
            <span
              ><i class="fa-solid fa-star rating-color"></i
              >{{ product.ratingsAverage }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
