.form-box {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    background: #ffffff;
    border: 10px solid hsl(0, 0%, 95%);
    // height: 100%;
  }
  img {
    max-width: 50%;
  }
  input {
    margin-top: 1.5%;
    margin-bottom: 2.5%;
  }
