<section class="d-flex">
  <!-- <img src="./assets/images/freshcart-logo.svg" alt="" /> -->
  <img src="./assets/images/shopping.jpg" alt="" />

  <form class="form-box" (ngSubmit)="handleForm()" [formGroup]="loginForm">
    <!-- <p>required:{{ loginForm.get("name")?.getError("required") | json }}</p>
    <p>
      minlength:{{ loginForm.get("name")?.getError("minlength") | json }}
    </p> -->
    <!-- this mean if there is an error in contol name in his validation minlength ...> show me this error   -->
    <div class="form-item">
      <label for="name">name :</label>
      <input
        formControlName="name"
        class="form-control"
        id="name"
        type="text"
      />
      <div
        *ngIf="
          (loginForm.get('name')?.touched ||
            loginForm.get('name')?.value?.length > 0) &&
          loginForm.get('name')?.errors
        "
        class="alert alert-danger"
      >
        <!-- if there is an  error will back true =>  form valid -->
        <!-- if there  is not error will back false => form not valid  -->
        <p *ngIf="loginForm.get('name')?.getError('required')">
          name is required
        </p>
        <p *ngIf="loginForm.get('name')?.getError('minlength')">
          name minLength is 3
        </p>
        <p *ngIf="loginForm.get('name')?.getError('maxlength')">
          name maxLength is 20
        </p>
      </div>
    </div>

    <div class="form-item">
      <label for="password">password :</label>
      <input
        formControlName="password"
        class="form-control"
        id="password"
        type="password"
      />
      <div
        *ngIf="
          (loginForm.get('password')?.touched ||
            loginForm.get('password')?.value?.length > 0) &&
          loginForm.get('password')?.errors
        "
        class="alert alert-danger"
      >
        <!-- if there is an  error will back true  -->
        <!-- if there  is not error will back false  -->
        <p *ngIf="loginForm.get('password')?.getError('required')">
          password is required
        </p>
        <p *ngIf="loginForm.get('password')?.getError('pattern')">
          password minLength is 6
        </p>
      </div>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="main-btn">
      logIn
    </button>
    <!-- <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p> -->
  </form>
</section>
